fastapi>=0.116.0
uvicorn[standard]>=0.35.0
httpx>=0.28.0
pandas>=2.3.0
openpyxl>=3.1.5
python-multipart>=0.0.20
pydantic>=2.11.0
pydantic-settings>=2.10.0
pydantic-extra-types>=2.10.0
python-dotenv>=1.1.0
